<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css"/>


</head>
<body>

<form th:action="@{/addExperience}" th:object="${experience}" th:method="POST">
    <input type="hidden" th:field="*{id}"/>
    <div class="form-group">
        Job Title : <input class="form-control"  type="text" th:field="*{jobTitle}"/>
        <span th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></span> <br/>
    </div>
    <div class="form-group">
        Company   : <input class="form-control" type="text" th:field="*{company}"/>
        <span th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></span> <br/>
    </div>
    <div class="form-group">

        Start Date: <input class="form-control" type="date" th:field="*{startDate}"/>
        <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span> <br/>
    </div>
    <div class="form-group">
        End Date  : <input class="form-control" type="date" th:field="*{endDate}"/>
        <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span> <br/>
    </div>
    <div class="form-group">
        Duty      : <textarea row="3" th:field="*{duty}"/>
        <span th:if="${#fields.hasErrors('duty')}" th:errors="*{duty}"></span> <br/>
    </div>




    <input type="submit" value="Submit" />
</form>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<!-- Core plugin JavaScript-->

</body>
</html>