<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Of Resumes</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,400" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/custom.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">

    <table>
        <tr>

            <th>Your Name</th>
            <th>Email</th>
            <th>Degree Type</th>
            <th>University</th>
            <th>Job Title</th>
            <th>Company</th>
            <th>Duty</th>
            <th>Skill</th>
        </tr>
        <tr th:each="user :${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>


        <tr th:each="education:${educations}">
            <td th:text="${education.degreeType}"></td>
            <td th:text="${education.fieldOfStudy}"></td>
            <td th:text="${education.school}"></td>
            <td th:text="${education.gradYear}"></td>
        </tr>




        </tr>


    </table>

</div>


<div class="container">
    <br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="copyright">Created by Yonatan  Mengesha 2017</span>
        </div>
    </div>
</div>

</body>
</html>