<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head  >
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,400" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/custom.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">


    <div class="left-side">

        <h1 class="title">Project <span class="titleBold">Jobs</span></h1>
        <div class="intro">
            <h2 class="intro-heading">Find Jobs you will Prosper in...</h2>
            <p class="intro-p">The Beta will go live in November, so sign up<br/> to enjoy Project Jobs before anyone else.</p>
            <button class="register-btn"><a href="@{/addResume}">Register Now</a></button></div>    </div>
    <div class="right-side">
        <h2>Sign in to the site</h2>


        <div class="login-form">

            <form class="form-signin" th:action="@{/login}"  method="post">
                <div th:if="${param.error}"  >Invalid username and password</div>
                <div >
                    <label >Username</label>
                    <input  name="username" type="text" aria-describedby="emailHelp" placeholder="Enter username"/>
                </div>
                <div >
                    <label>Password</label>
                    <input   name="password" type="password" placeholder="Password"/>
                </div>
                <button type="submit"  >Login</button>
            </form>

        </div>
    </div>

    <!--<div>-->
        <!--<a href="/addUser">Sign Up</a>-->
    <!--</div>-->

</div>

<div class="container">

    <div class="row">
        <div class="col-md-12 text-center">
            <span class="copyright">Created by Yonatan  Mengesha 2017</span>
        </div>
    </div>
</div>

</body>
</html>