<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Resumes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <!--<link rel="stylesheet" href="css/style.css"/>-->
</head>
<body bgcolor="#f0ffff">

<div th:each="user : ${users}">
    <p th:text="${user.name}"></p>
    <p th:text="${user.email}"></p>
    <!--<p th:text="${user.username}"></p>-->
    <!--<p th:text="${user.password}"></p>-->

</div>
<p><strong>Education</strong></p>
<div th:each="education : ${educations}">
    <p><span th:text="${education.degreeType}"></span> in <span th:text="${education.fieldOfStudy}"></span></p>
    <p><span th:text="${education.school}"></span>, <span placeholder="1990" th:text="${education.gradYear}"></span></p>
</div>
<p><strong>Experience</strong></p>
<div th:each="experience : ${experiences}">
    <p><span th:text="${experience.jobTitle}"></span></p>
    <p><span th:text="${experience.company}"></span>, <span th:text="${experience.startDate.getMonth()} +' '+ ${experience.startDate.getYear()}"></span> -
        <span th:text="${experience.endDate.getMonth()} + ' ' + ${experience.endDate.getYear()}"></span></p>
    <ul>
        <li th:text="${experience.duty}"></li>
    </ul>
</div>
<p><strong>Skills</strong></p>
<div th:each="skill : ${skills}">
    <ul>
        <li><span th:text="${skill.skill}"></span>, <span th:text="${skill.skillLevel}"></span></li>
    </ul>
</div>


<a href="/addEducation">Add Education</a>
<a href="/addExperience">Add  Experience</a>
<a href="/addSkill">Add Skill</a>
<a href="/showAll">All Resumes</a>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
</body>
</html>