<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Show All Resumes</title>
</head>
<body>

<a href="/">Show All Resumes</a><br/>
<label>FullName:</label><span th:text="${user.fullName}"></span><br/>
<label>Email:</label><span th:text="${user.email}"></span><br/>
<label>Degree Type</label><span th:text="${user.degreeType}"></span><br/>
<label>School</label><span th:text="${user.school}"></span><br/>
<label>Job Title</label><span th:text="${user.jobTitle}"></span><br/>
<label>Company</label><span th:text="${user.company}"></span><br/>
<label>Duty</label><span th:text="${user.duty}"></span><br/>
<label>Skill</label><span th:text="${user.skill}"></span><br/>

<a th:href="@{/delete/{id}(id=${user.id} )}">Delete  this Resume</a>


</body>
</html>