<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All Resumes</title>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,400" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/custom.css}" rel="stylesheet"/>
</head>
<body >


<div class="container">

    <div th:each="user : ${users}">
        <p th:text="${user.name}"></p>
        <p th:text="${user.email}"></p>
        <!--<p th:text="${user.username}"></p>-->
        <!--<p th:text="${user.password}"></p>-->

    </div>
    <p><strong>Education</strong></p>
    <div th:each="education : ${educations}">
        <p><span th:text="${education.degreeType}"></span> in <span th:text="${education.fieldOfStudy}"></span></p>
        <p><span th:text="${education.school}"></span>, <span placeholder="1990" th:text="${education.gradYear}"></span></p>
    </div>
    <p><strong>Experience</strong></p>
    <div th:each="experience : ${experiences}">
        <p><span th:text="${experience.jobTitle}"></span></p>
        <p><span th:text="${experience.company}"></span>, <span th:text="${experience.startDate.getMonth()} +' '+ ${experience.startDate.getYear()}"></span> -
            <span th:text="${experience.endDate.getMonth()} + ' ' + ${experience.endDate.getYear()}"></span></p>
        <ul>
            <li th:text="${experience.duty}"></li>
        </ul>
    </div>
    <p><strong>Skills</strong></p>
    <div th:each="skill : ${skills}">
        <ul>
            <li><span th:text="${skill.skill}"></span>, <span th:text="${skill.skillLevel}"></span></li>
        </ul>
    </div>


    <a href="/addEducation">Add Education</a>
    <a href="/addExperience">Add  Experience</a>
    <a href="/addSkill">Add Skill</a>
    <a href="/showAll">All Resumes</a>


</div>


<div class="container">
    <br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="copyright">Created by Yonatan  Mengesha 2017</span>
        </div>
    </div>
</div>
</body>
</html>