<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,400" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{css/custom.css}" rel="stylesheet"/>
    <title>your resume</title>
</head>
<body>
<div class="container">

    <h1>This is your Resume</h1>
    <a href="/showAll">Resumes</a>
</div>

<div class="container">
    <br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="copyright">Created by Yonatan  Mengesha 2017</span>
        </div>
    </div>
</div>

</body>
</html>